<section class="mt-5">
    <footer class="text-center text-white {{ fixed ? 'fixed-bottom' : '' }} bg-theme">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3"> Data from</span>
                    <a class="text-white"
                        href="https://www.kaggle.com/anandhuh/covid19-in-world-countrieslatest-data?select=worldwide+covid+data.csv">
                        Kaggle
                    </a>
                </p>
            </section>
        </div>
        <div class="text-center p-3 bg-theme-darker">
            <br/>
            <br/>
            ADS - IFRS Campus Farroupilha 2021 |
            <a class="text-white" href="https://github.com/mateusolorenzatti/covidinfo"> GitHub Source </a>
        </div>
    </footer>
</section>