<section class="mt-5">
    <footer class="text-center text-white" style="background-color: #0a4275;">
        <div class="container p-4 pb-0">
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3"> Data from</span>
                    <a class="text-white"
                        href="https://www.kaggle.com/anandhuh/covid19-in-world-countrieslatest-data?select=worldwide+covid+data.csv">
                        Kaggle
                    </a>
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            ADS - IFRS Campus Farroupilha 2021 |
            <a class="text-white" href="https://github.com/mateusolorenzatti/covidinfo"> GitHub Source </a>
        </div>
    </footer>
</section>