<div class="px-2 h-100">
    <div class="card border-theme-weather h-100">
        <h5 class="card-header bg-theme-weather text-white">
            <i class="fa fa-sun-o" aria-hidden="true"></i>
            | Clima 
        </h5>
        
        <div class="card-body" *ngIf="data">
            <div class="row col-12 my-2 mt-3">
                <div class="col-1"> </div>
                <div class="col-8 px-2">
                    <input type="text" class="form-control" placeholder="Digite uma Cidade" id="city" #city>
                </div>
                <div class="col-3">
                    <a class="btn btn-theme-weather w-100" (click)="searchCity()">
                        <i class="fa fa-search"></i>
                    </a>
                </div>
            </div>
            <div class="row col-12 my-2 mt-3 px-4">
                <div class="text-center">
                    <br/>
                    <p> {{ data.name }} - {{ data.state }}: </p>
                    <h4 class="font-weight-bold"> {{ data.data.temperature }}ºC </h4>
                    <p> {{ data.data.condition }} </p>
                    <small> Sensação: {{ data.data.sensation }}ºC </small>
                </div>
            </div>
        </div>
    </div>
</div>