<div class="p-2 h-100">
    <div class="card border-theme-cripto h-100">
        <div class="card-header bg-theme-cripto text-dark h5">
            <i class="fa fa-usd mr-3" aria-hidden="true"></i>
            | Cripto |
            <i class="fa fa-refresh ml-3" aria-hidden="true" (click)="refresh()"></i>
        </div>

        <div class="card-body">
            <div *ngFor="let ticker of tickers">
                <app-cripto-item [ticker]="ticker"> </app-cripto-item>
            </div>
        </div>
    </div>
</div>