<div class="card border-theme-second">
  <h5 class="card-header bg-theme-second text-white"> {{ desc }} </h5> 
  <div class="card-body">

    <table class="table">
      <tbody>
        
        <tr *ngFor="let data of data_list; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ data.country }} 
            <small *ngIf="criteria == 'cases'">({{ data.cases_1m }})</small>
            <small *ngIf="criteria == 'deaths'">({{ data.deaths_1m }})</small>
            <small *ngIf="criteria == 'tests'">({{ data.tests_1m }})</small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>