<div class="container py-3">
    
    <div class="row col-12 mb-4">
        <div class="col-sm-12 col-md-8"> 
            <cov-ranking-list> </cov-ranking-list>
        </div>
        <div class="col-sm-12 col-md-4 p-0"> 
            <app-cripto> </app-cripto>
        </div>
    </div>

    <div class="row col-12">
        <div class="col-sm-12 col-md-8"> 
            <cov-country> </cov-country>
        </div>
        <div class="col-sm-12 col-md-4 p-0"> 
            <app-weather> </app-weather>
        </div>
    </div>
    
</div>